.media-container {
  padding: 30px;
  text-align: center;
  background-color: #060425;
  color: #fff;
  min-height: 100vh;
}

.filter-section {
  margin: 20px 0;
}

select {
  margin-left: 10px;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  background-color: #222;
  color: #fff;
}

.media-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.media-card {
  background-color: #06060b;
  border-radius: 12px;
  padding: 20px;
}

