* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#myCanvas {
    margin: 50px 200px;
  width: "300";
  height: "200";
  border: 1px solid black;
}
