#clock {
  margin-top: 10px;
  font-size: 20px;
  font-weight: " bold";
}
#startBtn {
  margin-top: 30px;
}
.contain {
  width: 100%;
}
#gallery {
  margin-top: 100px;
  text-align: center;
}
.thumbnails {
  margin: 100px;
}

img {
  cursor: pointer;
  width: 200px;
  margin: 5px;
  transition: opacity 0.5s;
}
